<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>書籍一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">
	
		<!-- ヘッダー部分 -->
		<div th:insert="~{/common/header :: frag}"></div>
		
		<!-- メニュー部分 -->
		<div id="menu">
			<div class="container">
				<!-- ナビゲーション -->
					<div id="nav">
						<ul>
							<li><a href="/menu">[メニュー]</a></li>
							<li><a href="/list">[書籍一覧]</a></li>
						</ul>
					</div>
					
					<!-- ページタイトル -->
					<div id="page_title">
						<h2>購入品確認</h2>
					</div>
			</div>
		</div>
		
		<!-- 書籍一覧のコンテンツ部分 -->
		<div id="main" class="container">
			
			<!-- 書籍情報リスト -->
			<table>
				<tr>
					<td style=text-align:left;>下記の書籍を購入しました。</td>
				</tr>
				<tr>
					<td style=text-align:left;>ご利用ありがとうございました。</td>
				</tr>
			</table>
			<table class="list-table">
				<thead>
					<tr>
						<th>ISBN</th>
						<th>TITLE</th>
						<th>価格</th>
						<th>購入数</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody th:if="${order_list != null}">
					<tr th:each="order, iterStat : ${order_list}" th:object="${order}">
						<td th:text="*{isbn}"></td>
						<td th:text="*{book.title}"></td>
						<td th:text="'\ ' + *{#numbers.formatInteger(book.price, 3, 'COMMA')}"></td>
						<td th:text="*{quantity} + '冊'"></td>
						<td th:text="'\ ' + ${#numbers.formatInteger(subtotal_list[iterStat.index], 3, 'COMMA')}"></td>
					</tr>
				</tbody>
			</table>
			
			<hr align="center" size="2" color="black" width="850"></hr>
			
			<table aline="center">
				<tr>
					<td align="center" width="200">&nbsp;</td>
					<td align="center" width="200">&nbsp;</td>
					<th>合計</th>
					<td align="center" width="200"><span th:text="'\ ' +${#numbers.formatInteger(total, 3, 'COMMA')}"></span></td>
					<td align="center" width="200">&nbsp;</td>
				</tr>
			</table>
		
		</div>
		
		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>
		
	</div>
</body>
</html>