<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>書籍登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- ブラウザ全体 -->
	<div id="wrap">
	
		<!-- ヘッダー部分 -->
		<div th:insert="~{/common/header :: frag}"></div>
		
		<!-- メニュー部分 -->
		<div id="menu">
			<div class="container">
				<!-- ナビゲーション -->
				<div id="nav">
					<ul>
						<li><a href="/menu">[メニュー]</a></li>
					</ul>
				</div>
				
				<!-- ページタイトル -->
				<div id="page_title">
					<h2>パスワード変更</h2>
				</div>
			</div>
		</div>
		
		<!-- 書籍登録コンテンツ部分 -->
		<div id="main" class="container">
			<!-- エラーメッセージ -->
			<p class="error-msg" th:if="${message} != null" th:text="${message}"></p>
			<!-- 入力フォーム -->
			<form action="/changePassword" method="POST" th:object="${checkUser}">
				<table class="input-table" align="center">
					<tr>
						<th>ユーザー</th>
						<td style="background-color:#E0FFFF"></td>
						<input type="hidden" name="userid" th:value="${checkUser.userid}">
						<input type="hidden" name="email" th:value="${checkUser.email}">
						<input type="hidden" name="authority" th:value="${checkUser.authority}">
						<td style="text-align:left" th:text="${checkUser.userid}"></td>
					</tr>
					<tr>
						<th>旧パスワード</th>
						<td style="background-color:#E0FFFF"></td>
						<td>
							<input type="password" name="oldPassword">
							<p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" th:errorclass="error-msg"></p>
						</td>
					</tr>
					<tr>
						<th>新パスワード</th>
						<td style="background-color:#E0FFFF"></td>
						<td>
							<input type="password" name="newPassword" th:errorclass="error-msg">
							<p style="color:red" th:if="${passwordError}" th:text="${passwordError}"></p>
						</td>
					</tr>
					<tr>
						<th>新パスワード（確認用）</th>
						<td style="background-color:#E0FFFF"></td>
						<td>
							<input type="password" name="confirmPassword"  th:errorclass="error-msg">
							<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="error-msg"></p>
						</td>
					</tr>
				</table>
				<input type="submit" value="変更">
			</form>
		</div>
		
		<!-- フッター部分 -->
		<div th:insert="~{/common/footer :: frag}"></div>
		
	</div>
</body>
</html>